.logo{
    width: 75px;
    height: 81px;
    background-image: url("etf.png");
    transform: translateY(-50%);
    margin: auto;
    border: 2px solid rgb(1, 23, 83);
    outline: 3px solid rgb(221, 221, 221);
}

label{
    float: left;
    width: 90px;
}

ul{
    margin-top: -10px;
}

li{
    display: inline;
}

a{
    padding-right: 15px;
    font-size: 13pt;
}

#flex-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 620px;
    margin: auto;
}

.meni{
    background-color: #739ECF;
    margin: 50px 0px 0px 0px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

th, td {
    padding: 15px;
    text-align: left;
    background-color: white;
    color: darkslategray;
}

table {
    width: 100%;    
    background-color: #f1f1c1;
}

#sadrzaj{
    margin-top: 10px;
    background-color: rgb(187, 187, 187);
    padding: 10px;
}

.nepodvuceno{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    li{
        display: block;
    }
    
    label{
        display: block;
        clear: both;
        width: 90px;
    }

    input{
        display: block;
        clear: both;
    }
}