.meni {
    background-color: #739ECF;
    margin-top: 50px;
    text-align: center;
}

img{
    width: 200px;
    height: 190px;
} 

ul{
    margin-top: -10px;
    padding-bottom: 15px;
}

input[type = "button"]{
    background-color: #B2C3DD;
    border: 2px solid rgb(56, 74, 94);
    padding: 10px;
    width: 100px;
    font-size: 13pt;
}

input[name="nextBtn"]{
    float: right;
}

a{
    padding-right: 15px;
    font-size: 13pt;
}

li{
    display: inline;
}

.nepodvuceno{
    text-decoration: none;
}

.logo{
    width: 75px;
    height: 81px;
    background-image: url("etf.png");
    transform: translateY(-50%);
    margin: auto;
    border: 2px solid rgb(1, 23, 83);
    outline: 3px solid rgb(221, 221, 221);
}

/*sadrzaj je kontejner za grid*/
.sadrzaj {  
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    margin: auto;
    align-items: center;
    justify-items: center;
}

/*grid postaje respondivan na smanjivanje prozora - 2 slike u koloni max */
@media screen and (max-width: 800px){
    .sadrzaj {  
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin: auto;
    }
}

/*grid postaje respondivan na smanjivanje prozora - 1 slike u koloni max */
/*takodjer se uzima 80% sirine i visine slike u odnosu na njene prvobitne dimenzije*/
@media screen and (max-width: 600px){
    li{
        display: block;
    }
    
    .sadrzaj {  
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        max-width: 200px;
        margin: auto;
    }

    img{
        width: 80%;
        height: 80%;
    }
}
