#flex-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 620px;
    margin: auto; 
}

ul{
    margin-top: -10px;
} 

.nepodvuceno{
    text-decoration: none;
}

.brojDana:hover{
    background-color:rgb(30, 63, 210);
}
.meni {
    background-color: #739ECF;
    margin: 50px 0px 0px 0px;
    text-align: center;
    font-family: cambria;
}

a{
    padding-right: 15px;
    font-size: 13pt;
}

li{
    display: inline;
}

.logo{
    width: 75px;
    height: 81px;
    background-image: url("etf.png");
    transform: translateY(-50%);
    margin: auto;
    border: 2px solid rgb(1, 23, 83);
    outline: 3px solid rgb(221, 221, 221);
}

.sadrzaj{
    background-color: rgb(221, 221, 221);
    padding: 10px;
    font-family: cambria;
}

select{
    width: 100px;
}

.daysGrid, .dateGrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
/*
.dateGrid div:first-child{
    grid-column: 5;
}*/

#calendar{
    background-color: #B2C3DD;
    border: 2px solid rgb(56, 74, 94);
    padding: 10px;
    font-family: Cambria;
    font-size: 13pt;
}

.month{
    font-weight: bold;
}

.daysGrid {
    margin: 20px -4px 0px -4px;
    text-align: center;
}

.daysGrid > div {
    border: 2px solid rgb(56, 74, 94);
    margin: 3px;
}

.dateGrid{
    text-align: center;
    margin-top: 15px;
}

.dateGrid > div{
    border: 2px solid rgb(56, 74, 94);
    margin: 3px;
    padding-bottom: 20px;
}

input[type = "button"]{
    background-color: #B2C3DD;
    border: 2px solid rgb(56, 74, 94);
    padding: 10px;
    width: 100px;
    font-size: 13pt;
}

input[name="next"]{
    float: right;
}

.zauzeta{
    background-image: linear-gradient(bottom, rgb(255, 19, 19), rgb(255, 19, 19) 40%, transparent 0%, transparent 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 19, 19), rgb(255, 19, 19) 40%, transparent 0%, transparent 100%);
}

.slobodna{
    background-image: linear-gradient(bottom, #08F709, #08F709, transparent 0%, transparent 100%);
    background-image: -webkit-linear-gradient(bottom, #08F709, #08F709 40%, transparent 0%, transparent 100%);
}

label{
    float: left;
    width: 100px;
}

@media screen and (max-width: 600px){
    li{
        display: block;
    }
    
    .date{
        display: none;
    }

    .daysGrid{
        display: grid;
        grid-template-columns: 50px;
        grid-template-rows: repeat(7, 1fr);
    }

    .dateGrid{
        display: grid;
        grid-template-columns: 50px;
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;
        
    }

    #calendar{
        display: grid;
        grid-template-columns: repeat(3, 50px);
    }

}