.logo{
    width: 75px;
    height: 81px;
    background-image: url("etf.png");
    transform: translateY(-50%);
    margin: auto;
    border: 2px solid rgb(1, 23, 83);
    outline: 3px solid rgb(221, 221, 221);
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 670px;
    margin: auto;
    font-family: Cambria;
}

.nepodvuceno{
    text-decoration: none;
}

.flex-container > div:not(.meni){
    background-color: #739ECF;
    margin: 3px;
    flex: 1;
}

.meni{
    background-color: #739ECF;
    margin: 50px 3px 3px 3px;
    text-align: center;
}

.tabelaSala, th, td{
    margin: auto;
    border: 1px solid darkgray;
    border-collapse: collapse;
    line-height: 35px;
    min-width: 45px;
}

.tabelaSala{
    margin-top: 20px;
}

td{
    text-align: center;
    border-color: gray;
}

.headerSprat{
    text-align: center;
    background-color:#B3B3B3;
    font-weight: lighter;
    line-height: 50px;
}

.headerRedni{
    text-align: left;
    background-color:#CDCDCD;
    font-weight: lighter;
}

ul{
    margin-top: -10px;
}

a{
    padding-right: 15px;
    font-size: 13pt;
}

.slobodnaSala{
    background-color: #FA6547;
}

.zauzetaSala{
    background-color: #08F709;
}

.sala{
    background-color: white;
}

.kancelarija{
    background-color: #B2C5DC;
}

#nepostojana{
    visibility: hidden;
    border: none;
}

li{
    display: inline;
}

@media screen and (max-width: 600px){
    li{
        display: block;
    }

    .headerSprat{
        display: none;
    }
    
    .headerRedni{
        display: none;
    }
}